.patch-folder {
  position: absolute;
  z-index: 8000;
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 475px;
  min-height: 320px;
  background: #c5c4c4;
  border: 2px solid white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  outline: 1px solid white;
  overflow: hidden;
}

.patch-folder .folder_dragbar {
  display: flex;
  position: relative;
  height: 24px;
  width: 100%;
  margin-bottom: 1px;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  background: linear-gradient(90deg, #000080, #1084d0);
  cursor: move;
}

.patch-barname {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
}

.patch-barname span {
  font-size: 15px;
  color: white;
}

.patch-barbtn {
  display: flex;
  margin-right: 4px;
  gap: 2px;
}

.patch-barbtn div {
  width: 17px;
  height: 17px;
  background: #c9c9c9;
  font-weight: bold;
  border: 1px solid black;
  border-top-color: rgb(198, 198, 198);
  border-left-color: rgb(198, 198, 198);
  box-shadow: inset 1px 1px #ffffff, 1px 1px #000000dd;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.patch-barbtn div:active {
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: white;
  border-right-color: white;
}

.patch-barbtn .x {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: -3px;
}

.patch-barbtn .dash {
  width: 8px;
  border-bottom: 2px solid black;
}

.patch-content {
  position: relative;
  width: 98%;
  height: 95%;
  left: 50%;
  margin-top: 4px;
  border: 1px solid black;
  border-right-color: white;
  border-bottom-color: white;
  transform: translate(-50%);
  background: #f9f9ead8;
  padding: 2px;
}

.patch-note {
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding-left: 12px;
  padding-right: 8px;
  padding-top: 0px;
  font-size: 14px;
}

.patch-head {
  display: flex;
  position: relative;
  align-items: center;
  height: 40px;
  margin-left: -1.1rem;
}

.patch-head img {
  position: relative;
  width: 42px;
}

.patch-head h1 {
  position: relative;
  font-size: 16px;
  left: -6px;
  top: 2px;
}

.patch-log {
  font-size: 13px;
  color: black;
  white-space: pre-wrap;
}

.patch-entry {
  margin-bottom: 10px;
}

.patch-entry-head {
  margin: 0 0 2px;
  font-size: 13px;
  color: black;
}

.patch-entry-note {
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
  color: black;
}
