.patch-content-area {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f9f9ead8;
}

.patch-note {
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding-left: 12px;
  padding-right: 8px;
  padding-top: 0px;
  font-size: 14px;
}

.patch-head {
  display: flex;
  position: relative;
  align-items: center;
  height: 40px;
  margin-left: -1.1rem;
}

.patch-head img {
  position: relative;
  width: 42px;
}

.patch-head h1 {
  position: relative;
  font-size: 16px;
  left: -6px;
  top: 2px;
}

.patch-log {
  font-size: 13px;
  color: black;
  white-space: pre-wrap;
}

.patch-entry {
  margin-bottom: 10px;
}

.patch-entry-head {
  margin: 0 0 2px;
  font-size: 13px;
  color: black;
}

.patch-entry-note {
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
  color: black;
}
