@font-face {
  font-family: 'win95';
  src: url('../src/assets/win95.ttf') format('truetype');
}

*,
*::before,
*::after {
  font-family: 'win95', sans-serif;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'win95', sans-serif;
  font-size: 12px;
  background: #008080;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

img {
  -webkit-user-drag: none;
}

button {
  font-family: 'win95', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
}

a,
button,
input,
textarea,
select {
  outline: 0;
}
